@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
	font-family: 'Roboto', sans-serif;
}
.b-container{
	padding: 0 15px;
	@include desktop-1024 {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

}

.b-page {
	position: relative;
	&__body {
		height: 100vh;
		transition: all $transition_default ease-in-out;
	}
	&__sidebar {
		position: fixed;
		right: -450px;
		top: 0;
		bottom: 0;
		width: 450px;
		background: #ccc;
		transition: all $transition_default ease-in-out;
	}
	&__body_slide-left {
		filter: blur(3px);
		transform: translateX(-450px);
	}
	&__sidebar_slide-left {
		right: 0;
	}
}

.b-nav {
	padding: 0 20px;
	display: flex;
    justify-content: space-between;
	line-height: 60px;
	@include desktop-1024 {
		padding: 0;
	}
	&__logo {
		height: 47px;
		@include xs {
			height: 35px;
			margin-top: 10px;
		}
	}
	&__ul {
		display: flex;
	}
	&__li {
		position: relative;
		padding-left: 35px;
	}
	&__main-link {
		display: block;
		color: $link_default_color;
		transition: all $transition_default ease-in-out;
		&:hover {
			color: $link_default_color_hover;
		}
	}
	&__ul-services {
		position: absolute;
		right: 50px;
		padding-right: 25px;
		min-width: 320px;
		opacity: 0;
		visibility: hidden;
		// box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.66);
		border: 1px solid #ccc;
		transition: all $transition_default ease-in-out;
	}
	&__ul-services_active-block {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	&__li-services {
		line-height: 50px;
		text-align: right;
	}
	&__services-link {
		display: block;
		color: $link_default_color;
		transition: all $transition_default ease-in-out;
		&:hover {
			color: $link_default_color_hover;
		}	
	}
}


//loader
#loading {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    #loading-center-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px;
      #object {
        width: 80px;
        height: 80px;
        background-color: #FFF;
        -webkit-animation: animate 1s infinite ease-in-out;
        animation: animate 1s infinite ease-in-out;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
      }
    }
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: perspective(160px);
    }
    50% {
      -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
  }

  @keyframes animate {
    0% {
      transform: perspective(160px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
  }
}
//кнопка наверх
#top{
	position: fixed;
	bottom: 15px;
	right: 15px;
	color: #fff;
	display: none;
	padding: 15px;
	z-index: 99999999;
	@include bradius(50%);
}
#menu_toggle {
	display: none;
	color: #fff;
	top: 10px;
	left: 10px;
	padding: 10px;
	z-index: 9;
	font-size: 20px;
	cursor: pointer;
	transition: all .2s ease;
	@include md_max {
		display: inline-block;
		position: fixed;
	}
}
