<!DOCTYPE html>
<html lang="en">
    <% include layout/head.ejs %>
<body>
<header class="b-header">
    <% include layout/nav.ejs %>
</header>
<section class="b-menu">
    <div class="b-container">
        <% include layout/menu.ejs %>
    </div>
</section>
<section class="b-description-section">
    <div class="b-container"></div>
</section>
<% include layout/scripts.ejs %>
</body>
</html>
