<nav class="b-nav">
    <!-- <img class="b-nav__logo" src="/public/images/aleton-logo.png" alt="aleton-logo"> -->
    <span class="b-nav__logo">Алетон</span>
    <span class="b-nav__text">Помощь в оформлении документов для иностранных граждан.</span>
    <ul class="b-nav__ul">
        <% if (url === 'index') { %>
        <li class="b-nav__li b-nav__li_dropdown-link">
            <span class="b-nav__span">услуги</span>
        </li>
        <% } else { %>
        <li class="b-nav__li b-nav__li-mobile">
            <a href="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="b-nav__li b-nav__contacts-mobile">
            <a href="#"><i class="fas fa-chevron-right"></i></a>
        </li>
        <% } %>
    </ul>
</nav>